{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles -%}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<link href="https://fonts.googleapis.com/css?family=Bungee|Bungee+Shade|Karla:400,700" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.5/css/star-rating.css" media="all" rel="stylesheet" type="text/css" />
{% endblock styles %}
{% block page_content %}
<div class="page">
    <div class="page" >

        <img class="image" src="{{ film.poster }}">

            <h2>{{ film.title }}</h2>
            <p>{{film.description}}</p>
        <p><b>Directors: </b>
            {% for d in directors%}
            {{ d.first_name }} {{ d.last_name }},
            {% endfor %}
        </p>
        <p><b>Actors: </b>
                {% for a in actors%}
                {{ a.first_name }} {{ a.last_name }},
                {% endfor %}
        </p>
        {% if current_user.is_authenticated %}
        <div id="input-id"></div>
        {% else %}
        <div id="input-id2"></div>
        {% endif %}

    </div>

    {% if current_user.is_authenticated %}

    {{ wtf.quick_form(form) }}
    {% endif %}
<br/>
    <p><b>Comments</b></p>
<ul class="comments">

    {% for comment in comments %}
    <li class="comment">

        {{ moment.include_jquery() }}
        {{ moment.include_moment() }}
        <div class="comment-date">{{ moment(comment.timestamp).fromNow() }}</div>
        <div class="comment-author">
            {{ comment.author.username }}
        </div>
        <div class="comment-body">{{ comment.body }}</div>

    </li>
    {% endfor %}
</ul>
</div>
{% endblock %}
{% block scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.5/js/star-rating.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function(){
    $("#input-id").rating({min:0, max:5, step:1, size:'lg'});
    $('#input-id').rating('update', '{{film.score}}');
    if ('{{score}}' != 0){

        $('#input-id').rating('refresh', {displayOnly:true, showCaption:false});
    };
    $('#input-id').on('rating:change', function(event, value, caption) {
        $.ajax({
                type: "POST",
                url: "/rating/"+{{ film.id }},
                data: {'value': value},
                success: function(data){
                $('#input-id').rating('update', data);
                $('#input-id').rating('refresh', {displayOnly:true, showCaption:false});

                }

            });


        });
    $("#input-id2").rating({min:0, max:5, step:1, size:'lg'});
    $('#input-id2').rating('update', '{{film.score}}');
    $('#input-id2').rating('refresh', {displayOnly:true, showCaption:false});
    })
</script>
{% endblock %}