{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block page_content %}
<div class="page">
    <div class="page" >

        <img class="image" src="{{ film.poster }}">

            <h2>{{ film.title }}</h2>
            <p>{{film.description}}</p>
        <p><b>Directors: </b>
            {% for d in directors%}
            {{ d.first_name }} {{ d.last_name }},
            {% endfor %}
        </p>
        <p><b>Actors: </b>
                {% for a in actors%}
                {{ a.first_name }} {{ a.last_name }},
                {% endfor %}
        </p>


    </div>
    {% if current_user.is_authenticated %}

    {{ wtf.quick_form(form) }}
    {% endif %}
<br/>
    <p><b>Comments</b></p>
<ul class="comments">

    {% for comment in comments %}
    <li class="comment">

        {{ moment.include_jquery() }}
        {{ moment.include_moment() }}
        <div class="comment-date">{{ moment(comment.timestamp).fromNow() }}</div>
        <div class="comment-author">
            {{ comment.author.username }}
        </div>
        <div class="comment-body">{{ comment.body }}</div>

    </li>
    {% endfor %}
</ul>
</div>
{% endblock %}
{% block scripts %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.js"></script>

{% endblock %}