{% extends "base.html" %}

{% block title %}Filmweb{% endblock %}
{% block head %}

{{ super() }}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block page_content %}

<div class="flash_message"></div>
<div class="headline">
    <p class="hello headline-text">
        Hello,
        {% if current_user.is_authenticated %}
            {{ current_user.first_name}}
        {% else %}Stranger{% endif %}
    </p>

        <main>

            <div class="headline">
                <p class="headline-text">Check out our TOP lists!</p>

            </div>
            <div class="flex-container">
                <a href="{{url_for('main.top_films')}}">
                    <div class="top-item">
                        TOP movies

                    </div>
                </a>
                <a href="{{url_for('main.top_series')}}">
                    <div class="top-item">
                        TOP series
                    </div>
                </a>

            </div>
        </div>
    </main>




<br/>
<br/>


{% endblock %}
